Source: hamonikr-pcchecker
Section: utils
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 2.0.0

Package: hamonikr-pcchecker
Architecture: all
Pre-Depends: dpkg (>= 1.15.6)
Depends: 
Recommends: 
Section: utils
Priority: optional
Description: HamoniKR PC Checker
